@model IEnumerable<lemberg.Models.People>
@{
    ViewData["Title"] = "Home Page";
    var prevDisabled = "";
    var nextDisabled = "";
    var currentPage = (int)ViewData["currentPage"];
    var totalPages = (int)ViewData["totalPages"];


    if (currentPage == totalPages)
    {
        nextDisabled = "disabled";
    }

    if (1 == currentPage)
    {
        prevDisabled = "disabled";
    }
}

<div class="row">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newRecordModal">New record</button>
</div>

<div class="row">
    <h3>Records</h3>
    <span>Sort by:</span>
    <a href="@Url.Action("Index", new {pageIndex = currentPage, sortBy = "FirstName" })">First Name</a><span> | </span>
    <a href="@Url.Action("Index", new {pageIndex = currentPage, sortBy = "LastName" })">Last Name</a><span> | </span>
    <a href="@Url.Action("Index", new {pageIndex = currentPage, sortBy = "MarkValue" })">Mark Value</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mark value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.LastName @p.FirstName </td>
                    <td>
                        @if (p.Mark != null)
                        {
                            @p.Mark.Value;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-offset-5 col-md-7">
        <nav aria-label="Pagination">
            <ul class="pagination">
                <li class="page-item @prevDisabled">
                    <a class="page-link" href="@Url.Action("Index", new {pageIndex = Math.Max(currentPage - 1, 1) })">Previous</a>
                </li>
                <li class="page-item @nextDisabled">
                    <a class="page-link" href="@Url.Action("Index", new {pageIndex = Math.Min(currentPage + 1, totalPages) })">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="modal fade" id="newRecordModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New record</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <form asp-action="Index" asp-controller="Home" method="Post">
                            <input name="ReturnPage" class="hidden" value="@totalPages" />
                            <p>
                                <label>First name</label>
                                <input name="FirstName" class="form-control" />
                            </p>
                            <p>
                                <label>Last name</label>
                                <input name="LastName" class="form-control" />
                            </p>
                            <p>
                                <label>Mark value</label>
                                <input name="MarkValue" class="form-control" />
                            </p>

                            <p>
                                <input type="submit" value="Save" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>